.form {
  position: relative;
  .center;
  max-width: 750px;
  text-align: left;
  sup {
    color: #db0000;
  }

  &__input {
    display: inline-block;
    vertical-align: top;
    margin-right: 4%;
    font-size: 14px;
    line-height: 1.1;
    width: 48%;
    @media @phone {
      width: 100%;
      margin-right: 0;
      margin-bottom: 25px;
    }
    &:last-child {
      margin-right: 0;
    }
    label {
      margin-bottom: 8px;
      display: block;
      width: 100%;
      box-sizing: border-box;
    }
    input {
      display: block;
      padding: 12px;
      width: 100%;
      border: 1px solid #999;
      border-radius: 2px;
      box-sizing: border-box;
      transition: border 0.25s ease-in-out;
      &:focus {
        outline: none;
        border: 1px solid #ccc;
      }
    }
  }//input

  &__textarea {
    font-size: 14px;
    label {
      display: block;
      margin-bottom: 8px;
      width: 100%;
    }
    textarea {
      padding: 10px;
      min-height: 165px;
      resize: none;
      width: 100%;
      border: 1px solid #999;
      border-radius: 2px;
      box-sizing: border-box;
      transition: border 0.25s ease-in-out;
      &:focus {
        outline: none;
        border: 1px solid #ccc;
      }
    }
  }

  &__row {   
  margin-bottom: 25px;
  box-sizing: border-box;
  font-size: 0;
  }

  &__message {
    display: none;
    position: absolute;
    padding: 15px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
}