.services {
  .s-padding;
  .s-light;
  text-align: center;
  &__title {
    .heading;
  }//title

  &__descr {
    margin-bottom: 80px;
    font-style: italic;
    font-size: 16px;
    line-height: 1.4;
    color: #6c6c6c;
  }//descr

  &__row {
    display: flex;
    flex-wrap: wrap;  
    margin-left: -15px;
    margin-right: -15px;
  }

  &__item {
    text-align: center;
    flex-basis: 262px;
    flex-grow: 1;
    margin: 0 15px 15px;
    &-img {
      display: inline-block;
      vertical-align: top;
      position: relative;
      margin-bottom: 25px;
      width: 125px;
      height: 125px;
      border: 6px solid @orange;
      border-radius: 50%;
      box-sizing: border-box;
      img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }//img

    &-title {
      margin-bottom: 20px;
      font-size: 25px;
      line-height: 1.1;
      font-weight: 600;
      text-transform: uppercase;
    }//title

    &-descr {
      font-size: 14px;
      line-height: 1.1;
    }
  }//item
}