/*
*   Custom
*   Slick-slider style 
**/

.slick {
  &-slider {
    position: relative;
    overflow: hidden;
  }

  &-prev,
  &-next {
    padding: 0;
    cursor: pointer;
    position: absolute;
    top: 50%;
    border: none;
    outline: none;    
    width: 40px;
    height: 40px;
    font-size: 0;    
    background: transparent;
    background-image: data-uri('../img/icon/arrow-point-to-right.svg');
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
    transition: opacity 0.2s ease-in-out;
    &:hover {
      opacity: 0.5;
    }
  }
  &-prev {
    left: 20px;
    transform: rotate(-180deg);
  }
  &-next {
    right: 20px;
  }

  &-dots {
    position: absolute;
    left: 0;
    bottom: 0;
    margin: 0;
    width: 100%;
    padding: 0;
    list-style: none;
    text-align: center;
    li {
      display: inline-block;
      vertical-align: middle;
      margin-right: 10px;
      text-align: center;
      font-size: 0;
      &:last-child {
        margin-right: 0;
      }
      &:hover {
        button {
          background: #fff;
          border-color: #fff;
        }
      }
    }
    button {
      cursor: pointer;
      font-size: inherit;
      padding: 0;
      display: block;
      width: 10px;
      height: 10px;
      border: none;  
      outline: none;
      background: #fff;
      transition: background 0.25s
    }
  }//dots
  &-active {
    button {
      background: @orange;
      // border-color: #fff;
    }
  }
}