.testimonials {
  .s-padding;
  text-align: center;

  &__title {
    .heading;
  }//title

  &__slider {
    padding-bottom: 60px;
    &-item {
      display: inline-block;
      vertical-align: top;
    }
  }

}