footer.page-footer
  .container
    .page-footer__copyright All rights reserved. copyright © 2014 spirit8
  .page-footer__social.social
    ul.social__list
      li.social__item
        a(href="javascript:void(0)") Facebook
      li.social__item
        a(href="javascript:void(0)") Twitter
      li.social__item
        a(href="javascript:void(0)") Google plus
      li.social__item
        a(href="javascript:void(0)") Linkedin
      li.social__item
        a(href="javascript:void(0)") Dribble