.wrapper
  section.about#about
    .container
      .about__layout
        .about__textual
          h2.about__title About Us
          div.about__descr Some words <b>about us</b>
          p.about__text We love building and rebuilding brands through our  specific skills. Using colour, fonts, and illustration, we brand companies in a way they will never forget.
          ul.about__list
            li
              b Mission - 
              | We deliver uniqueness and quality
            li
              b Skills - 
              | Delivering fast and excellent results
            li
              b Clients - 
              | Satisfied clients thanks to our experience
          .about__button
            a(href="#portfolio").btn.btn--case Browse our work
  section.our-team
    .container
      h2.our-team__title Meet <b>our team</b>
      .our-team__slider
        .our-team__slider-item
          .our-team__photo
            img(src="http://placehold.it/150x150", alt="User")
          .our-team__name First Second
          .our-team__position some position
          .our-team__descr  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        .our-team__slider-item
          .our-team__photo
            img(src="http://placehold.it/150x150", alt="User")
          .our-team__name First Second
          .our-team__position some position
          .our-team__descr  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        .our-team__slider-item
          .our-team__photo
            img(src="http://placehold.it/150x150", alt="User")
          .our-team__name First Second
          .our-team__position some position
          .our-team__descr  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        .our-team__slider-item
          .our-team__photo
            img(src="http://placehold.it/150x150", alt="User")
          .our-team__name First Second
          .our-team__position some position
          .our-team__descr  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        .our-team__slider-item
          .our-team__photo
            img(src="http://placehold.it/150x150", alt="User")
          .our-team__name First Second
          .our-team__position some position
          .our-team__descr  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        .our-team__slider-item
          .our-team__photo
            img(src="http://placehold.it/150x150", alt="User")
          .our-team__name First Second
          .our-team__position some position
          .our-team__descr  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        .our-team__slider-item
          .our-team__photo
            img(src="http://placehold.it/150x150", alt="User")
          .our-team__name First Second
          .our-team__position some position
          .our-team__descr  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        .our-team__slider-item
          .our-team__photo
            img(src="http://placehold.it/150x150", alt="User")
          .our-team__name First Second
          .our-team__position some position
          .our-team__descr  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        .our-team__slider-item
          .our-team__photo
            img(src="http://placehold.it/150x150", alt="User")
          .our-team__name First Second
          .our-team__position some position
          .our-team__descr  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        .our-team__slider-item
          .our-team__photo
            img(src="http://placehold.it/150x150", alt="User")
          .our-team__name First Second
          .our-team__position some position
          .our-team__descr  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        .our-team__slider-item
          .our-team__photo
            img(src="http://placehold.it/150x150", alt="User")
          .our-team__name First Second
          .our-team__position some position
          .our-team__descr  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        .our-team__slider-item
          .our-team__photo
            img(src="http://placehold.it/150x150", alt="User")
          .our-team__name First Second
          .our-team__position some position
          .our-team__descr  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
  section.services#services
    .container
      h2.services__title Take a look at <b>our services</b>
      .services__descr Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.

      .services__slider
        .services__slider-item
          .services__slider-item-img
            img(src="", alt="")
          h3.services__slider-item-title Web design
          .services__slider-item-descr The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.
        .services__slider-item
          .services__slider-item-img
            img(src="", alt="")
          h3.services__slider-item-title Web design
          .services__slider-item-descr The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.
        .services__slider-item
          .services__slider-item-img
            img(src="", alt="")
          h3.services__slider-item-title Web design
          .services__slider-item-descr The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.
        .services__slider-item
          .services__slider-item-img
            img(src="", alt="")
          h3.services__slider-item-title Web design
          .services__slider-item-descr The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.
  
  section.clients
    .container
      h2.clients__title Some of our clients
      .clients__slider
        .clients__slider-item
          img(src="", alt="")
        .clients__slider-item
          img(src="", alt="")
        .clients__slider-item
          img(src="", alt="")
        .clients__slider-item
          img(src="", alt="")
        .clients__slider-item
          img(src="", alt="")
        .clients__slider-item
          img(src="", alt="")
        .clients__slider-item
          img(src="", alt="")
        .clients__slider-item
          img(src="", alt="")
        .clients__slider-item
          img(src="", alt="")
        .clients__slider-item
          img(src="", alt="")
        .clients__slider-item
          img(src="", alt="")
        .clients__slider-item
          img(src="", alt="")
        .clients__slider-item
          img(src="", alt="")
        .clients__slider-item
          img(src="", alt="")
        .clients__slider-item
          img(src="", alt="")
  section.works#portfolio
    .container
      h2.works__title Take a look at our work
      .works__descr Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.
      .works__filter
        .works__filter-descr Filter by type
        ul.works__filter-list
          li.works__filter-item
            a(href="") All
          li.works__filter-item
            a(href="") Web design
          li.works__filter-item
            a(href="") Mobile design
          li.works__filter-item
            a(href="") Photography
      .works__layout
        .works__item
          .works__item-content
          .worls__item-action
            h3.works__item-title Trend and fashion
            .works__item-descr  Website design
  section.testimonials#testimonials
    h2.testimonials__title Our clients’ testimonials
    .testimonial__slider
      .testimonial__slider-item
        p.testimonials__text This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.
        address Dean Martin, CEO Acme Inc.
      .testimonial__slider-item        
        p.testimonials__text This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.
        address Dean Martin, CEO Acme Inc.
      .testimonial__slider-item        
        p.testimonials__text This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.
        address Dean Martin, CEO Acme Inc.
  section.contact#contact
    .container
      h2.contact__title feel free to contact us
      .contact__descr
      form(name="contact").form
        .form__row
          .form__input
            label(for="form__name") Name <sup>*</sup>
            input(type="text" name="name")#form__name
          .form__input
            label(for="form__email") Email address <sup>*</sup>
            input(type="text" name="mail")#form__email
        .form__row
          .form__textarea
            label(for="from__message") Message <sup>*</sup>
            textarea(name="message")#from__message
        .form__row
          button(type="submit").btn.btn--submit
  footer.page-footer
    .container
      .page-footer__copyright All rights reserved. copyright © 2014 <b>spirit8</b>
      .page-footer__social.social
        ul.social__list
          li.social__item
            a(href="javascript:void(0)") Facebook
              +icon("facebook", 30, 30)
          li.social__item
            a(href="javascript:void(0)") Twitter
              +icon("twitter", 30, 30)
          li.social__item
            a(href="javascript:void(0)") Google plus
              +icon("gplus", 30, 30)
          li.social__item
            a(href="javascript:void(0)") Linkedin
              +icon("linkedin", 30, 30)
          li.social__item
            a(href="javascript:void(0)") Dribble
              +icon("dribble", 30, 30)