header.page-header
  .container
    .page-header__top
      a.page-header__logo(href="/") Spirit8
      nav.menu
      ul.menu__list
        li.menu__item.menu__item--active
          a(href="/") Home
        li.menu__item
          a(href="#about") About
        li.menu__item
          a(href="#services") Services
        li.menu__item
          a(href="#portfolio") Portfolio
        li.menu__item
          a(href="#testimonials") Testimonials
        li.menu__item
          a(href="#contact") Contact

    .page-header__body
      h1.page-header__title Welcome on <span>Spirit8</span>
      p.page-header__descr We are a digital agency with years of experience and with extraordinary people
    .page-header__bottom
      a(href="#about").btn.btn--arrow-down
        +icon("arrow-down", 11, 12)